/* 
    Document   : cpanel
    Created on : 26/09/2012, 03:29:26
    Author     : gabix
    Description:
        Para la pag cpanel
*/
#d_cuerpo {
    width: 100%;
    height: 400px;
    float: left;
    border-left: 3px solid red;
}

